<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">

  <Section Name="PatchVerificationSettings">
    <Parameter Name="EXAMPLE_PATCH" Value="false" />
    <!-- 
    <Parameter Name="[PATCH_NAME]" Value="false" /> 
    -->
    <Parameter Name="MTU_PATCH" Value="false" /> 
  </Section>

  <Section Name="PatchInstallationSettings">
    <Parameter Name="EXAMPLE_PATCH" Value="false" />
    <!-- 
    <Parameter Name="[PATCH_NAME]" Value="false" /> 
    -->
    <Parameter Name="MTU_PATCH" Value="false" />
  </Section>

  <Section Name="ScanSettings">
    <Parameter Name="ScanIntervalRandomizationSeconds" Value="120" />
    <Parameter Name="ScanIntervalSeconds" Value="120" />
  </Section>

  <Section Name="HealthReportSettings">
    <Parameter Name="RemoveWhenExpired" Value="true" />
    <Parameter Name="TimeToLiveSeconds" Value="300" />
    <Parameter Name="ReportMissingAs" Value="Warning" />
  </Section>
</Settings>